<a href="https://colab.research.google.com/github/capitallatera/Case-Study/blob/master/Case_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
ls

'Case Study.ipynb'   investments.csv   practice.csv   Questions.docx

In [0]:
import numpy as np
import pandas as pd

In [0]:
# Read the given comma separated values as dataframe (investments.csv)
## df=pd.read_csv("investments.csv",sep=',',engine='python')
df=pd.read_csv("investments.csv",encoding="latin-1")
df.head(3)

,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_year,debt_financing,grant
0,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,"17,50,000",acquired,USA,NY,New York City,New York,1,2012.0,0,0
1,&TV Communications,http://enjoyandtv.com,|Games|,Games,"40,00,000",operating,USA,CA,Los Angeles,Los Angeles,2,NaN,0,0
2,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,"40,000",operating,EST,NaN,Tallinn,Tallinn,1,2012.0,0,0

In [0]:
# List out all columns names.
df.columns

Index(['name', 'homepage_url', 'category_list', ' market ',
       ' funding_total_usd ', 'status', 'country_code', 'state_code', 'region',
       'city', 'funding_rounds', 'founded_year', 'debt_financing', 'grant'],
      dtype='object')

In [0]:
# Create a dataframe with numerical columns.
col=df.describe().columns
df_1=df[col]
print(type(df_1))
df_1.head(10)

# or
# df._get_numeric_data().head(10)
# type(df._get_numeric_data().head(10))

<class 'pandas.core.frame.DataFrame'>

   funding_rounds  founded_year  debt_financing  grant
0               1        2012.0               0      0
1               2           NaN               0      0
2               1        2012.0               0      0
3               1        2011.0               0      0
4               2        2014.0               0      0
5               1        2011.0               0      0
6               1           NaN               0      0
7               1        2007.0               0      0
8               1        2010.0               0      0
9               1           NaN               0      0

In [0]:
# Create a dataframe with categorical columns.
col=df.columns
num_col=df._get_numeric_data().columns
cat_col=list(set(col)-set(num_col))
df_2=df[cat_col].head()
df_2.head(10)

,name,category_list,country_code,region,state_code,city,market,status,funding_total_usd,homepage_url
0,#waywire,|Entertainment|Politics|Social Media|News|,USA,New York City,NY,New York,News,acquired,"17,50,000",http://www.waywire.com
1,&TV Communications,|Games|,USA,Los Angeles,CA,Los Angeles,Games,operating,"40,00,000",http://enjoyandtv.com
2,'Rock' Your Paper,|Publishing|Education|,EST,Tallinn,NaN,Tallinn,Publishing,operating,"40,000",http://www.rockyourpaper.org
3,(In)Touch Network,|Electronics|Guides|Coffee|Restaurants|Music|i...,GBR,London,NaN,London,Electronics,operating,"15,00,000",http://www.InTouchNetwork.com
4,-R- Ranch and Mine,|Tourism|Entertainment|Games|,USA,Dallas,TX,Fort Worth,Tourism,operating,"60,000",NaN

In [0]:
# Get summary on the data and draw inferences if any.
print(df.info())
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49438 entries, 0 to 49437
Data columns (total 14 columns):
name                   49437 non-null object
homepage_url           45989 non-null object
category_list          45477 non-null object
 market                45470 non-null object
 funding_total_usd     49438 non-null object
status                 48124 non-null object
country_code           44165 non-null object
state_code             30161 non-null object
region                 44165 non-null object
city                   43322 non-null object
funding_rounds         49438 non-null int64
founded_year           38482 non-null float64
debt_financing         49438 non-null int64
grant                  49438 non-null int64
dtypes: float64(1), int64(3), object(10)
memory usage: 5.3+ MB
None

,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_year,debt_financing,grant
count,49437,45989,45477,45470,49438,48124,44165,30161,44165,43322,49438.000000,38482.000000,4.943800e+04,4.943800e+04
unique,49350,45850,16675,753,14617,3,115,61,1089,4188,NaN,NaN,NaN,NaN
top,Spire,http://www.zhaopin.com,|Software|,Software,-,operating,USA,CA,SF Bay Area,San Francisco,NaN,NaN,NaN,NaN
freq,4,2,3650,4620,8531,41829,28793,9917,6804,2615,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.696205,2007.359129,1.888157e+06,1.628453e+05
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.294213,7.579203,1.382046e+08,5.612088e+06
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1902.000000,0.000000e+00,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,2006.000000,0.000000e+00,0.000000e+00
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,2010.000000,0.000000e+00,0.000000e+00
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,2012.000000,0.000000e+00,0.000000e+00
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.000000,2014.000000,3.007950e+10,7.505000e+08

In [0]:
# Display duplicate rows.

df.duplicated().sum()

0

In [0]:
# Rough Practise
# series = [('Stranger Things', 3, 'Millie'),
#           ('Game of Thrones', 8, 'Emilia'), ('La Casa De Papel', 4, 'Sergio'),
#           ('Westworld', 3, 'Evan Rachel'), ('Stranger Things', 3, 'Millie'),
#          ('La Casa De Papel', 4, 'Sergio')]

# # Create a DataFrame object
# dfObj = pd.DataFrame(series, columns=['Name', 'Seasons', 'Actor'])

# dfObj

# dfObj.duplicated().sum()

In [0]:
# For each column find out percentage of missing values.
(df.isnull().sum()/df.isnull().count())*100

name                    0.002023
homepage_url            6.976415
category_list           8.012056
 market                 8.026215
 funding_total_usd      0.000000
status                  2.657875
country_code           10.665885
state_code             38.992273
region                 10.665885
city                   12.371051
funding_rounds          0.000000
founded_year           22.161091
debt_financing          0.000000
grant                   0.000000
dtype: float64

In [0]:
# Find count of ‘name’ in each ‘country_code’.
# df.groupby(by='country_code').groups
df.groupby(by='country_code').name.count().head(20)

country_code
ALB       1
ARE      66
ARG     149
ARM       2
AUS     314
AUT     103
AZE       3
BEL     149
BGD       7
BGR      68
BHR       3
BHS       2
BLR       3
BMU       4
BRA     293
BRN       1
BWA       4
CAN    1405
CHE     222
CHL     285
Name: name, dtype: int64

In [0]:
## For checking the no of names of ARM country
# df[df['country_code']=="ARM"]

In [0]:
# What is the percentage of the companies which have status ‘acquired’ and ‘operating’?

# (df.groupby(["status"]).name.count()/df.name.count())*100
(df.groupby(["status"]).filter(lambda x: len(x)!=2603).groupby('status').name.count()/df.name.count())*100

status
acquired      7.468091
operating    84.610717
Name: name, dtype: float64

In [0]:
# Create a column ‘category_list_count’ having count of category lists.

# # Alternative code
# l=[]
# for i in range(len(df["category_list"])):
#     if str(df["category_list"][i])=="nan":
#         l.append(0)
# #         print(i," ",df["category_list"][i]," ",0)
#     else:
#         j=len(df["category_list"][i].split("|"))-2
# #         print(i," ",df["category_list"][i]," ",j)
#         l.append(j)   

df["category_list_count"]=df["category_list"].apply(lambda x: 0 if str(x)=="nan" else len(x.split("|"))-2 )

In [0]:
# Find total ‘fundings’ for each country_code.

for y in df["country_code"].unique():
    j=df[df["country_code"]==y][" funding_total_usd "].apply(lambda x: 0 if x.find("-")==1 else int(x.replace(",",""))).sum()
#     print(y," ",j)

    l=str(j)
    l_1=[]
    counter=0
    s=""
    for i in range(len(l[::-1])):
        counter=counter+1
        if counter%3==0:
            if l[0]==l[::-1][i]:
                l_1.append(l[::-1][i])
            else:
                l_1.append(","+l[::-1][i])
        else:
            l_1.append(l[::-1][i])
            
    s=s.join(l_1[::-1])
    l_1[::-1]
    print(y," ",s)

USA   464,244,849,909
EST   80,345,104
GBR   23,498,140,161
ARG   266,315,666
nan   0
HKG   1,657,666,497
CHL   47,032,880
DEU   8,243,664,362
FRA   5,195,063568
CHN   35,577,204,451
CAN   13,914166,746
AUS   2,598,953,424
ROM   19,007,880
NLD   4,044,212,916
SWE   2,885,796,608
RUS   9,429,261,790
DNK   1143,230,382
IND   15,011,710,743
SGP   1,735,455,737
NOR   759,973,111
BEL   1,244,564177
IRL   2,430,365,126
ITA   999,735,510
ISR   6,267,079634
ESP   3,669,192,650
THA   69,436635
NZL   1,084104,260
CZE   285,932,845
CHE   3,023,008,222
BRA   2,033,704,915
HUN   38321,656
JPN   2,896,595,442
BWA   2271,352
KOR   942,420923
NGA   275,942,400
FIN   1112,773122
TUR   721,357,193
CRI   537,000
PRT   108,787,578
TWN   823,605,389
KHM   480,000
COL   49,557,171
UKR   26,346,000
LTU   91,004,404
ZAF   646,717,001
AUT   496,160,911
PHL   303,744,287
ISL   49,215,032
BGR   49,352,695
URY   12,580,000
HRV   4463,391
KEN   286,115274
MEX   691,587635
JOR   26,123,364
VNM   214,920,509
GHA   1,774,615
PER   25,464,573
POL   175,630181
IDN   332,962,185
PAN   5,128,000
LVA   12,717,402
ALB   0
UGA   3,964,000
LBN   6,553,000
GRC   24,946,898
ARE   648,935,250
PAK   9,586,000
EGY   430439,796
SVK   10,568,501
LUX   609,377,519
MYS   1,218199,061
BHS   10100,000
ARM   26,812,976
DZA   1,216,828
MDA   93,400
TUN   3,970,000
NIC   3,519,200
TZA   13,014,000
CYP   45,299481
NPL   300,000
BHR   121,269
CMR   119,561
SRB   5,666,244
SAU   54,973,465
CYM   152,257,857
BRN   0
SLV   440,000
ECU   80,000
MLT   13,257,720
SVN   5514,303
LAO   0
TTO   150,000
MAR   3,200,000
MMR   700,000
BGD   48,098,974
DOM   1,208,264
BMU   751,666,000
LIE   7,500,000
MOZ   0
GTM   941,034
AZE   372,000
MCO   657,000
ZWE   10,000,000
UZB   90,000
OMN   10,000
BLR   120,000
JEY   0
JAM   32,000
KWT   14,050,000
MUS   200,000
CIV   60,000
SOM   2,000,000
MKD   38,484
GIB   19,944,912
SYC   35,000
MAF   29220,000

In [0]:
## 
# df[df["country_code"]=="USA"][" funding_total_usd "].apply(lambda x: 0 if x.find("-")==1 else int(x.replace(",",""))).sum()

In [0]:
# # Fully Working Code for above question
# k=0
# for i in df[df["country_code"]=="USA"][" funding_total_usd "]:
#     if i.find("-")==1:
#         pass
# #         print(0)

#     else:
#         j=int(i.replace(",","")) 
#         k=k+j
# #         print(j)
# print("Total:",k)  

# l=str(k)
# l_1=[]
# counter=0
# s=""
# for i in range(len(l[::-1])):
#     counter=counter+1
#     if counter%3==0:
#         if l[0]==l[::-1][i]:
#             l_1.append(l[::-1][i])
#         else:
#             l_1.append(","+l[::-1][i])
#     else:
#         l_1.append(l[::-1][i])


# s=s.join(l_1[::-1])
# l_1[::-1]
# print("Total:",s)