<a href="https://colab.research.google.com/github/capitallatera/Case-Study/blob/master/Netflix_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Import libraries
import pandas as pd

In [3]:
# Import dataset
df=pd.read_csv("/content/drive/MyDrive/DataSet_Main/ViewingActivity-sample.csv")

In [13]:
# Data points
df.head(2)

  Profile Name          Start Time  ...  Latest Bookmark             Country
0      Charlie  2013-03-20 5:17:53  ...  Not latest view  US (United States)
1      Charlie  2013-03-20 4:27:45  ...  Not latest view  US (United States)

[2 rows x 10 columns]

In [10]:
# Missing Data in DataSet
df.isna().sum()

Profile Name                 0
Start Time                   0
Duration                     0
Attributes                 200
Title                        0
Supplemental Video Type    200
Device Type                  0
Bookmark                     0
Latest Bookmark              0
Country                      0
dtype: int64

In [12]:
# Total Length of data
len(df)

200

In [20]:
# Making a copy of dataset
df2=df.copy()

In [26]:
# Delete nan data points
df2.dropna(axis=1,inplace=True)

In [28]:
df2.isna().sum()

Profile Name       0
Start Time         0
Duration           0
Title              0
Device Type        0
Bookmark           0
Latest Bookmark    0
Country            0
dtype: int64

In [33]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Profile Name     200 non-null    object
 1   Start Time       200 non-null    object
 2   Duration         200 non-null    object
 3   Title            200 non-null    object
 4   Device Type      200 non-null    object
 5   Bookmark         200 non-null    object
 6   Latest Bookmark  200 non-null    object
 7   Country          200 non-null    object
dtypes: object(8)
memory usage: 12.6+ KB

In [36]:
df2.head(2)

  Profile Name          Start Time  ...  Latest Bookmark             Country
0      Charlie  2013-03-20 5:17:53  ...  Not latest view  US (United States)
1      Charlie  2013-03-20 4:27:45  ...  Not latest view  US (United States)

[2 rows x 8 columns]

In [38]:
# Profile Name
df2["Profile Name"].unique()

array(['Charlie'], dtype=object)

In [41]:
df2["Title"].unique()

array(['Star Trek: Deep Space Nine: Season 5: Empok Nor (Episode 24)',
       'Star Trek: Deep Space Nine: Season 5: Blaze of Glory (Episode 23)',
       'Star Trek: Deep Space Nine: Season 5: Children of Time (Episode 22)',
       'The Invisible War',
       'Star Trek: Deep Space Nine: Season 5: Soldiers of the Empire (Episode 21)',
       'Star Trek: Deep Space Nine: Season 5: Ferengi Love Songs (Episode 20)',
       'The Office (U.S.): Season 5: The Duel (Episode 12)',
       'The Office (U.S.): Season 5: Moroccan Christmas (Episode 11)',
       'The Office (U.S.): Season 5: The Surplus (Episode 10)',
       'The Office (U.S.): Season 5: Frame Toby (Episode 9)',
       'The Office (U.S.): Season 5: Business Trip (Episode 8)',
       'The Office (U.S.): Season 5: Customer Survey (Episode 7)',
       'The Office (U.S.): Season 5: Employee Transfer (Episode 6)',
       'The Office (U.S.): Season 5: Crime Aid (Episode 5)',
       'The Office (U.S.): Season 5: Baby Shower (Episode 4)',
       'The Office (U.S.): Season 5: Business Ethics (Episode 3)',
       'The Office (U.S.): Season 5: Weight Loss: Part 2 (Episode 2)',
       'The Office (U.S.): Season 5: Weight Loss: Part 1 (Episode 1)',
       'The Office (U.S.): Season 4: Goodbye, Toby (Episode 14)',
       'The Office (U.S.): Season 4: Job Fair (Episode 13)',
       'The Office (U.S.): Season 4: Did I Stutter (Episode 12)',
       'The Office (U.S.): Season 4: Night Out (Episode 11)',
       'The Office (U.S.): Season 4: The Chair Model (Episode 10)',
       'The Office (U.S.): Season 4: Dinner Party (Episode 9)',
       'The Office (U.S.): Season 4: The Deposition (Episode 8)',
       'The Office (U.S.): Season 4: Survivor Man (Episode 7)',
       'The Office (U.S.): Season 4: Local Ad (Episode 5)',
       'The Office (U.S.): Season 4: Money (Episode 4)',
       'The Office (U.S.): Season 4: Launch Party (Episode 3)',
       'Archer: Season 3: The Man from Jupiter (Episode 4)',
       'Archer: Season 3: Heart of Archness, Part 3 (Episode 3)',
       'Archer: Season 3: Heart of Archness, Part 2 (Episode 2)',
       'The Office (U.S.): Season 4: Dunder Mifflin Infinity (Episode 2)',
       'The Office (U.S.): Season 4: Fun Run (Episode 1)',
       'The Office (U.S.): Season 3: The Job (Episode 23)',
       'The Office (U.S.): Season 3: Beach Games (Episode 22)',
       "The Office (U.S.): Season 3: Women's Appreciation (Episode 21)",
       'The Office (U.S.): Season 3: Product Recall (Episode 20)',
       'The Office (U.S.): Season 3: Safety Training (Episode 19)',
       'Archer: Season 3: Heart of Archness, Part 1 (Episode 1)',
       'Archer: Season 2: El Secuestro (Episode 10)',
       'The Office (U.S.): Season 3: The Negotiation (Episode 18)',
       'The Office (U.S.): Season 3: Cocktails (Episode 17)',
       'The Office (U.S.): Season 3: Business School (Episode 16)',
       "The Office (U.S.): Season 3: Phyllis's Wedding (Episode 15)",
       'The Office (U.S.): Season 3: Ben Franklin (Episode 14)',
       'Archer: Season 2: Placebo Effect (Episode 9)',
       'Archer: Season 2: Stage Two (Episode 8)',
       'The Office (U.S.): Season 3: The Return (Episode 13)',
       'The Office (U.S.): Season 3: Traveling Salesmen (Episode 12)',
       'The Office (U.S.): Season 3: Back from Vacation (Episode 11)',
       'The Office (U.S.): Season 3: A Benihana Christmas (Episode 10)',
       'The Office (U.S.): Season 3: The Convict (Episode 9)',
       'The Office (U.S.): Season 3: The Merger (Episode 8)',
       'The Office (U.S.): Season 3: Branch Closing (Episode 7)',
       'The Office (U.S.): Season 3: Diwali (Episode 6)',
       'The Office (U.S.): Season 3: Initiation (Episode 5)',
       'The Office (U.S.): Season 3: Grief Counseling (Episode 4)',
       'The Office (U.S.): Season 3: The Coup (Episode 3)',
       'The Office (U.S.): Season 3: The Convention (Episode 2)',
       'The Office (U.S.): Season 3: Gay Witch Hunt (Episode 1)',
       'The Office (U.S.): Season 2: Casino Night (Episode 22)',
       'The Office (U.S.): Season 2: Conflict Resolution (Episode 21)',
       'The Office (U.S.): Season 2: Drug Testing (Episode 20)',
       "The Office (U.S.): Season 2: Michael's Birthday (Episode 19)",
       'The Office (U.S.): Season 2: Take Your Daughter to Work Day (Episode 18)',
       "The Office (U.S.): Season 2: Dwight's Speech (Episode 17)",
       "The Office (U.S.): Season 2: Valentine's Day (Episode 16)",
       'The Office (U.S.): Season 2: Boys and Girls (Episode 15)',
       'The Office (U.S.): Season 2: The Carpet (Episode 14)',
       'The Office (U.S.): Season 2: The Secret (Episode 13)',
       'Archer: Season 2: Movie Star (Episode 7)',
       'Archer: Season 2: Tragical History (Episode 6)',
       'The Office (U.S.): Season 2: The Injury (Episode 12)',
       'The Office (U.S.): Season 2: Booze Cruise (Episode 11)',
       'The Office (U.S.): Season 2: Christmas Party (Episode 10)',
       'The Office (U.S.): Season 2: Email Surveillance (Episode 9)',
       'The Office (U.S.): Season 2: Performance Review (Episode 8)',
       'The Office (U.S.): Season 2: The Client (Episode 7)',
       'The Office (U.S.): Season 2: The Fight (Episode 6)',
       'The Office (U.S.): Season 2: Halloween (Episode 5)',
       'The Office (U.S.): Season 2: The Fire (Episode 4)',
       'The Office (U.S.): Season 2: Office Olympics (Episode 3)',
       'The Office (U.S.): Season 2: Sexual Harassment (Episode 2)',
       'The Office (U.S.): Season 2: The Dundies (Episode 1)',
       'The Office (U.S.): Season 1: Hot Girl (Episode 6)',
       'The Office (U.S.): Season 1: Basketball (Episode 5)',
       'The Office (U.S.): Season 1: The Alliance (Episode 4)',
       'The Office (U.S.): Season 1: Health Care (Episode 3)',
       'The Office (U.S.): Season 1: Diversity Day (Episode 2)',
       'The Office (U.S.): Season 1: Pilot (Episode 1)',
       'The Office (U.S.): Season 7: Search Committee: Part 2 (Episode 26)',
       'The Office (U.S.): Season 7: Search Committee: Part 1 (Episode 25)',
       'The Office (U.S.): Season 7: Dwight K. Schrute, (Acting) Manager (Episode 24)',
       'The Office (U.S.): Season 7: The Inner Circle (Episode 23)',
       'The Office (U.S.): Season 7: Goodbye, Michael (Episode 22)',
       "The Office (U.S.): Season 7: Michael's Last Dundies (Episode 21)",
       'The Office (U.S.): Season 7: Training Day (Episode 20)',
       'The Office (U.S.): Season 7: Garage Sale (Episode 19)',
       'The Office (U.S.): Season 7: Threat Level Midnight (Episode 17)',
       'The Office (U.S.): Season 7: PDA (Episode 16)',
       'The Office (U.S.): Season 7: The Search (Episode 15)',
       'The Office (U.S.): Season 7: The Seminar (Episode 14)',
       'The Office (U.S.): Season 7: Ultimatum (Episode 13)',
       'The Office (U.S.): Season 7: Classy Christmas: Part 2 (Episode 12)',
       'The Office (U.S.): Season 7: Classy Christmas: Part 1 (Episode 11)',
       'The Office (U.S.): Season 7: China (Episode 10)',
       'The Office (U.S.): Season 7: WUPHF.com (Episode 9)',
       'The Office (U.S.): Season 7: Viewing Party (Episode 8)',
       'The Office (U.S.): Season 7: Christening (Episode 7)',
       'The Office (U.S.): Season 7: Costume Contest (Episode 6)',
       'The Office (U.S.): Season 7: The Sting (Episode 5)',
       'The Office (U.S.): Season 7: Sex Ed (Episode 4)',
       "The Office (U.S.): Season 7: Andy's Play (Episode 3)",
       'The Office (U.S.): Season 7: Counseling (Episode 2)',
       'The Office (U.S.): Season 7: Nepotism (Episode 1)',
       'Archer: Season 2: The Double Deuce (Episode 5)',
       '30 for 30: The Two Escobars',
       'Star Trek: Deep Space Nine: Season 5: Ties of Blood and Water (Episode 19)',
       'Star Trek: Deep Space Nine: Season 5: Business as Usual (Episode 18)',
       'Star Trek: Deep Space Nine: Season 5: A Simple Investigation (Episode 17)',
       'Star Trek: Deep Space Nine: Season 5: Doctor Bashir, I Presume? (Episode 16)',
       'Buffy the Vampire Slayer: Season 6: Once More, with Feeling (Episode 7)',
       "Star Trek: Deep Space Nine: Season 5: By Inferno's Light (Episode 15)",
       'Star Trek: Deep Space Nine: Season 1: Emissary: Parts 1 & 2 (Episode 1)',
       "Star Trek: Deep Space Nine: Season 5: In Purgatory's Shadow (Episode 14)",
       'Star Trek: Deep Space Nine: Season 5: For the Uniform (Episode 13)',
       'Star Trek: Deep Space Nine: Season 5: The Begotten (Episode 12)',
       'Star Trek: Deep Space Nine: Season 5: The Darkness and the Light (Episode 11)',
       'Star Trek: Deep Space Nine: Season 5: Rapture (Episode 10)',
       'Star Trek: Deep Space Nine: Season 5: The Ascent (Episode 9)',
       'Archer: Season 2: Pipeline Fever (Episode 4)',
       'Archer: Season 2: Blood Test (Episode 3)',
       'Star Trek: Deep Space Nine: Season 5: Things Past (Episode 8)',
       'Star Trek: Deep Space Nine: Season 5: Let He Who Is Without Sin.. (Episode 7)',
       'Star Trek: Deep Space Nine: Season 5: Trials and Tribble-ations (Episode 6)',
       'Star Trek: Deep Space Nine: Season 5: The Assignment (Episode 5)',
       'Star Trek: Deep Space Nine: Season 5: ...Nor the Battle to the Strong (Episode 4)',
       "Star Trek: Deep Space Nine: Season 5: Looking for Par'Mach in All the Wrong Places (Episode 3)",
       'Star Trek: Deep Space Nine: Season 5: The Ship (Episode 2)',
       'Star Trek: Deep Space Nine: Season 5: Apocalypse Rising (Episode 1)',
       'Star Trek: Deep Space Nine: Season 4: Broken Link (Episode 25)',
       'Star Trek: Deep Space Nine: Season 4: Body Parts (Episode 24)',
       'Louis C.K.: Live at the Beacon Theater',
       'Star Trek: Deep Space Nine: Season 4: The Quickening (Episode 23)',
       'Star Trek: Deep Space Nine: Season 4: To the Death (Episode 22)'],
      dtype=object)

In [46]:
pd.concat([df2["Duration"],df2["Bookmark"]],axis=1)

    Duration Bookmark
0    0:00:05  0:00:05
1    0:44:31  0:44:31
2    0:22:06  0:44:37
3    0:48:14  0:53:18
4    0:04:51  0:05:01
..       ...      ...
195  0:05:18  0:27:16
196  0:58:12  1:01:37
197  0:21:59  0:22:01
198  0:44:26  0:44:28
199  0:43:48  0:43:48

[200 rows x 2 columns]